#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

config BLE_DONGLE_APP_LOG_LEVEL
	int "Log level for the ESB PRX sample"
	default 4

config SUPPORT_OPUS_DECODER
	bool "wether the sample needs to decoder the audio packet with opus(8:1) algorithm"
	default y

config SETTINGS
	default y

config ZMS
	default y if (SOC_FLASH_NRF_RRAM || SOC_FLASH_NRF_MRAM)

config NVS
	default y if !(SOC_FLASH_NRF_RRAM || SOC_FLASH_NRF_MRAM)
