/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

// / {
// 	chosen {
// 		nordic,nus-uart = &uart20;
// 	};
// };


/{
	soc {
		/delete-node/ cpuflpr_sram;
		/delete-node/ uart30;
	};

	/*
	 * Redefine button1 to use RXD0 - P0.01
	 * Thus, when sending character from host, there will be gpio interrupt,
	 * the same as originally triggered by sw0 button.
	 */
	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&gpio0 1 0x11 >;
			label = "Input 0";
			zephyr,code = <INPUT_KEY_0>;
		};
		button1: button_1 {
			gpios = < &gpio1 0x9 0x11 >; 
			label = "Push button 1";     
			zephyr,code = < 0x2 >;       
		};
		button2: button_2 {
			gpios = < &gpio1 0x8 0x11 >; 
			label = "Push button 2";   
			zephyr,code = < 0x3 >;       
		};
		button3: button_3 {
			gpios = < &gpio0 0x4 0x11 >; 
			label = "Push button 3";    
			zephyr,code = < 0x4 >;    
		};
	};
};



&pinctrl {
	pdm20_default_alt: pdm20_default_alt {
		group1 {
			psels = <NRF_PSEL(PDM_CLK, 1, 12)>,
				<NRF_PSEL(PDM_DIN, 1, 13)>;
		};
	};
};

dmic_dev: &pdm20 {
	status = "okay";
	pinctrl-0 = <&pdm20_default_alt>;
	pinctrl-names = "default";
	clock-source = "PCLK32M";
};

&cpuapp_sram {
	reg = <0x20000000 DT_SIZE_K(250)>;
	ranges = <0x0 0x20000000 DT_SIZE_K(250)>;
};




